*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  box-sizing: inherit; }

a:active, a:visited {
  text-decoration: none !important; }

a:hover {
  text-decoration: none !important; }

body, html {
  box-sizing: border-box;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  background-color: #eeeeee; }
  @media only screen and (min-width: 112.5em) {
    body, html {
      font-size: 62.5%; } }
  @media only screen and (max-width: 75em) {
    body, html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 62.5em) {
    body, html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    body, html {
      font-size: 45%; } }

.heading-primary {
  color: darkblue;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.4;
  padding-bottom: 3rem; }

.header {
  position: relative; }
  .header__navbar1 {
    height: 4.8rem;
    background-color: #272b33; }
    .header__navbar1__container {
      display: flex;
      justify-content: space-between; }
    .header__navbar1__login-signup {
      margin: 1rem 2rem; }
    .header__navbar1__gradient-bottom {
      background: linear-gradient(to right, #0678aa 50%, #92b511 100%);
      height: 2px; }
  .header__navbar2 {
    height: 7.4rem;
    background: rgba(38, 38, 36, 0.94);
    background: -webkit-linear-gradient(top, #262624 0%, rgba(38, 38, 36, 0.88) 100%);
    background: linear-gradient(to bottom, #262624 0%, rgba(38, 38, 36, 0.88) 100%);
    border-bottom: 1px solid rgba(93, 93, 93, 0.8);
    display: block; }
    .header__navbar2__container {
      display: flex;
      justify-content: center; }
    .header__navbar2__nav-ul {
      list-style: none; }
    .header__navbar2__nav-li {
      display: inline-block;
      margin-top: 2.1rem; }
      .header__navbar2__nav-li:not(:last-child) {
        margin-right: 2.8rem; }
    .header__navbar2__nav-link {
      text-decoration: none;
      color: white;
      font-size: 2.1rem; }
      .header__navbar2__nav-link:hover {
        color: deepskyblue; }
    .header__navbar2__media-ul {
      list-style: none;
      margin-top: 2.2rem;
      margin-left: 10rem; }
      .header__navbar2__media-ul-li {
        display: inline-block; }
        .header__navbar2__media-ul-li:not(:last-child) {
          margin-right: 1.7rem; }
        .header__navbar2__media-ul-li-icon {
          color: #b9b6ab;
          font-size: 2.3rem; }
          .header__navbar2__media-ul-li-icon:hover {
            color: lightgreen; }
    .header__navbar2__button {
      color: deepskyblue;
      text-align: center;
      border-radius: 4px;
      border: 2px solid deepskyblue;
      font-family: lora,Georgia,Cambria,"Times New Roman",Times,serif;
      height: 4.8rem;
      transition: all 300ms ease-out;
      text-decoration: none;
      margin: 1rem 0 0 5rem; }
      .header__navbar2__button:hover {
        background: #24C6DC;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #514A9D, #24C6DC);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #514A9D, #24C6DC);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: white; }
      .header__navbar2__button-top {
        font-weight: 600;
        font-size: 1.6rem;
        padding: .5rem 1.5rem 0 1.5rem;
        letter-spacing: 1px; }
      .header__navbar2__button-bottom {
        font-size: .9rem; }
  .header__border-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
  .header__button {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%); }

.login-btn, .signup-btn {
  width: 8rem;
  font-size: 1.3rem;
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding: 3px 8px 3px 8px;
  border-radius: 3px;
  text-decoration: none;
  transition: all .2s;
  color: white; }

.login-btn {
  border: 1px solid #0aa0d2;
  color: #0aa0d2; }
  .login-btn:hover {
    color: #4dc8f1; }

.signup-btn {
  border: 1px solid #91b610;
  color: #91b610;
  margin-left: 10px; }
  .signup-btn:hover {
    color: #a3cc12; }

.nexon-logo {
  width: 6.3rem;
  height: 1.3rem;
  margin: 1.4rem 0 0 1.6rem; }

.maplestory-logo {
  width: 14.3rem;
  margin-right: 6rem; }

.button-primary {
  color: white;
  display: block;
  font-size: 2.3rem;
  font-weight: 700;
  width: 37rem;
  padding: 1.3rem 0 1.3rem 0;
  text-align: center;
  background: linear-gradient(to bottom, #e4401f 0%, #be2102 100%);
  border-radius: 4px;
  border: 3px solid black;
  text-decoration: none; }
  .button-primary:hover {
    background: darkred; }

.banner {
  width: auto;
  color: white;
  font-size: 1.8rem;
  font-weight: 500;
  font-family: "Titillium Web",arial,sans-serif;
  padding: 1rem 2rem;
  z-index: 10;
  line-height: 1.6; }
  .banner-green {
    background-color: #7acca3; }
  .banner-red {
    background-color: #b20047; }
  .banner__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; }
    .banner__bottom-green {
      background-color: #7acca3; }
    .banner__bottom-red {
      background-color: #b20047; }

.index-bg {
  background: url("../img/index-bg.jpg") no-repeat 50% 0;
  background-size: cover;
  padding-bottom: 60rem; }

.news-update {
  background: url("../img/bg_ghosted_grey-min.jpg") no-repeat 50% 0;
  background-size: cover;
  padding: 10rem; }
  .news-update__container {
    width: 107rem;
    display: block;
    margin: 0 auto;
    position: relative; }
  .news-update__ul-square {
    display: flex;
    justify-content: space-between; }
    .news-update__ul-square__li {
      width: 52.4rem; }
      .news-update__ul-square__li-top {
        height: 29.4rem;
        position: relative; }
        .news-update__ul-square__li-top__img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          overflow: hidden; }
        .news-update__ul-square__li-top__banner {
          position: absolute;
          bottom: 0;
          left: 0; }
      .news-update__ul-square__li-bottom {
        background-color: darkred;
        height: 15.7rem; }
