.news-square{

  &__ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__li{
      width: 52.4rem;
      box-shadow: $box-shadow-light;

      &-top{
        height: 29.4rem;
        position: relative;

        &__img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          overflow: hidden;
        }

        &__banner{
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }

      &-bottom{
        height: 15.7rem;
        background-color: white;
        position: relative;

        &__title{
          color: #2b2725;
          font-size: 2.5rem;
          padding: 1rem 0 0 2rem;
          font-weight: 700;
          display: block;
          text-decoration: none;
          
          &:hover{
            color: deepskyblue;
          }
        }

        &__desc{
          color: #2b2725;
          font-size: 1.8rem;
          padding: 1rem 2rem 0 2rem
        }

        &__timestamp, &__read-more{
          font-size: 1.6rem;
          font-family: "Titillium Web",arial,sans-serif;
          position: absolute;
        }

        &__timestamp{
          bottom: 2rem;
          left: 2rem;
        }

        &__read-more{
          bottom: 2rem;
          right: 2rem;
          text-decoration: none;

          &:hover{
            color: deepskyblue;
          }
        }
      }

    }
  }
}