.news-square__ul{
  display: flex;
  justify-content: space-between;

  &__li{
    width: 52.4rem;

    &-top{
      height: 29.4rem;
      position: relative;

      &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
      }

      &__banner{
        position: absolute;
        bottom: 0;
        left: 0;
      }

    }
    //
    //&-bottom{
    //  background-color: darkred;
    //  height: 15.7rem;
    //}
  }
}