.index-bg{
  background: url("../img/index-bg.jpg") no-repeat 50% 0;
  background-size: cover;
  padding-bottom: 60rem;
}


.news-update{
  background: url("../img/bg_ghosted_grey-min.jpg") no-repeat 50% 0;
  background-size: cover;
  padding: 10rem;

  &__container{
    //height: 100rem;
    width: 107rem;
    display: block;
    margin: 0 auto;
    position: relative;
  }

  &__button{
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-top: 3rem;
  }
}